body {
  background: #fbf8f1;
  color: #07817f;
  font-family: "Raleway", sans-serif;
  font-size: 1.25em;
  margin: 0;
  text-align: center;
}

footer {
  margin: 100px auto 25px auto;
}

h1 {
  font-family: "Redressed", cursive;
}
hr {
  border: dotted #e9dac1;
  border-bottom: none;
  margin: 50px auto;
  width: 40%;
}

p {
  margin: 10px 50px;
  line-height: 2;
  text-align: left;
  clear: left;
}

/*All Images for HomePage are here*/
.board-game-img {
  width: 8%;
  float: left;
  margin: auto 20px auto 20px;
}
.book-stack-img {
  width: 8%;
  float: left;
  margin: auto 20px auto 20px;
}
.coding-img {
  width: 8%;
  float: left;
  margin: auto 20px auto 20px;
}
.project-img {
  width: 20%;
  margin: auto auto 40px auto;
}

/*All Classes are here*/
.about {
  margin: 0;
}

.app-project {
  font-size: 1.25em;
}

.career {
  text-align: left;
  margin: 20px 100px;
}

.contact {
  margin: 50px auto 50px auto;
}

.footer-link {
  color: #54bab9;
  margin: 10px;
}

.footer-link:hover {
  color: #495371;
  margin: 10px;
}

.name {
  font-family: "Redressed", cursive;
}

.personal {
  text-align: left;
  margin: 20px 100px;
}

.projects {
  line-height: 2;
  font-family: "Raleway", sans-serif;
  margin: 10px auto;

  width: 40%;
}

.projecthr {
  border: dotted #f7ecde;
  border-bottom: none;
  margin: 50px auto;
  width: 16%;
}

.reading {
  text-align: left;
  margin: 20px 100px;
}

.web-project {
  font-size: 1.25em;
}
